body {
    background-color: #f0f8ff; /* Light Blue */
    color: #333;
  
  }
  
  /* .container {
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  } */
  
  .btn-primary {
    background-color: #28a745; /* Green */
    border-color: #28a745;
  }
  
  .btn-primary:hover {
    background-color: #218838; /* Darker Green */
    border-color: #218838;
  }
  
  .btn-danger {
    background-color: #dc3545; /* Red */
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333; /* Darker Red */
    border-color: #c82333;
  }
  
  .alert-danger {
    background-color: #f8d7da; /* Light Red */
    border-color: #f5c6cb; /* Lighter Red */
    color: #721c24; /* Dark Red */
  }